<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Laughing Stock</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Materialize CSS Framework -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- <link rel="stylesheet" href="stylesheets/style.css" /> -->
      <!-- JavaScript for Materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

  <nav class="teal">
    <div class="nav-wrapper">
      <ul class="right">
        <li>
        <% if (user) { %>
          <li>
            <a href="/venues"><i class="material-icons left">local_bar</i>VENUES</a>
          </li>
          <li>
            <a href="/venues/new"><i class="material-icons left">event</i>EVENTS</a>
          </li>
          <li>
            <a href="/performers"><i class="material-icons left">mic</i>COMICS</a>
          <li>
          <a href="/logout"><i class="material-icons left">trending_flat</i>LOG OUT</a>
          </li>
          <% } else { %>
            <li>
              <a href="/venues"><i class="material-icons left">local_bar</i>VENUES</a>
            </li>
            <li>
              <a href="/venues/new"><i class="material-icons left">event</i>EVENTS</a>
            </li>
            <li>
              <a href="/performers"><i class="material-icons left">mic</i>COMICS</a>
            <li>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>LOGIN WITH GOOGLE</a> 
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <main>
